.excerpts {
  padding-left: 3em;
  padding-right: 3em;
  margin-left: 3em;
  margin-right: 3em;
  font-family: 'Libre Baskerville', serif;
}

.excerpt-name-input {
  width: 80%;
  font-family: 'Libre Baskerville', serif;

}
