<div *ngIf="storyLoaded">
    <mat-card class="excerpts" *ngFor="let excerpt of excerpts" (click)="openStory(excerpt)">
        <mat-card-content>
               {{excerpt}}
        </mat-card-content>
    </mat-card>
<mat-card id="create-excerpt-card" class="excerpts">
    <mat-card-header>
        <mat-card-title>
            <h3>
               Create Excerpt
            </h3>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      Create a new excerpt!
    </mat-card-content>
    <mat-card-actions class="card-content">
      <form name="newExcerptForm" class="new-excerpt-form">
          <mat-form-field class="excerpt-name-input">
            <textarea matInput type="text" id="newExcerptInput"></textarea>
          </mat-form-field>
          <!-- <span class="example-fill-remaining-space"></span> -->
          <button id="submit-button" mat-button (click)="createNewExcerpt()" >
            Submit Excerpt
          </button>
        </form>
    </mat-card-actions>
</mat-card>
</div>
