.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

#address-selector {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 0.75em;
}

.address-field {
    min-width: 410px !important; 
    width: 410px;
  }
  

mat-toolbar {
    height: 5em;
	border-radius:2px;
}